<div id="content">
</div>
<script src="~/js/common.js"></script>
<script type="text/javascript">
    var m,n;
    (function(){
        append(m);
        append(n);
        //定义方法内m，将n赋值3，并将n赋值给m
        var m = n =3;
        append(m);
        append(n);
    })();
    append(m);
    append(n);
</script>