@page

<input type="button" onclick="test()" value="test">
<input type="button" onclick="test1()" value="test1">
<input type="button" onclick="reset()" value="clear">
<div id="content">
</div>
<script src="~/js/common.js"></script>
<script type="text/javascript">
    function test() {
        var A = function () { }
        A.prototype.n = 1;
        var b = new A();
        A.prototype = {
            n: 2,
            m: 3
        };
        var c = new A();
        append("b.n:" + b.n);
        append("b.m:" + b.m);
        append("c.n:" + c.n);
        append("c.m:" + c.m);
    }
    function test1() {
        var F = function () { };
        Object.prototype.a = function () {
            append('a()')
        };
        Function.prototype.b = function () {
            append('b()')
        }
        var f = new F();
        f.a();
        F.a();
        F.b();
        f.b();

    }
</script>