@page
<div id="content">
</div>
<script src="~/js/common.js"></script>
<script type="text/javascript">
    var a = 1;
    function fn1() {
        function fn3() {
            this.a = 123;
            append("fn3 this.a:" + this.a);
            append("fn3 a:" + a);
            function fn2() {
                append("fn2 this.a:" + this.a);
                append("fn2 a:" + a);
            }
            var a;
            fn2();
            a = 4;
        }
        var a = 2;
        return fn3;
    }
    var fun = fn1();//步骤1，返回fn3
    fun();//步骤2，执行fn3
</script>