@page
<div id="content">
</div>
<script src="~/js/common.js"></script>
<script type="text/javascript">
 var a= 123;
 function test(){
   var a = 1876;
   append(this.a);
 }
 test();
</script>